/**
 * @name Channel Drawer
 * @author Seilent
 * @version 1.2.5
 * @description Change the channel into drawer to save horizontal space
 * @source https://github.com/seilent/nc-channel-drawer
**/

/* 1.2.5
 * Changed some "fixed" into "relative"
 */

 :root {
    --sv-w: 72px;  /*server panel width*/
    --av-s: 48px;  /*avatar size*/
    --wi-s: 240px; /*sidebar width*/
    --tt-b: 22px;  /*web dicord user set this to 0*/
    --tt-h: 48px;  /*titlebar height*/
}

/* z-index */
[class*="wrapper-"][class*="guilds-"][aria-label] {
    z-index: 50; 
    margin-bottom: var(--sv-w);
}

[class*="base-"] [class*="sidebar-"] {
    z-index: 40
}

/* Titlebar */
[class*="base-"] [class*="title-"] {
    z-index: 10;
}

/* Avatar Size */
[class*="base-"] [class*="panels-"] [class*="avatarWrapper-"] {
    position: fixed;
    left: calc((var(--sv-w) - var(--av-s)) / 2);
    bottom: calc((var(--sv-w) - var(--av-s)) / 2); 
}

[class*="base-"] [class*="panels-"] [class*="wrapper-"][style*="32px"] {
    width: var(--av-s) !important;
    height: var(--av-s) !important;
}

/* User Panel */
[class*="base-"] section[class*="panels-"] {
    position: fixed;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 0px;
    max-height: 300px;
    padding-left: var(--sv-w);
    margin-bottom: -1px;
    background-color: var(--background-tertiary);
    transition: width .2s, background-color 0.3s;
}

[class*="base-"] section[class*="panels-"] > [class*="container-"] {
    height: var(--sv-w);
    background-color: var(--background-secondary);
}

/* User Area Hover */
[class*="base-"] section[class*="panels-"]:hover {
    width: var(--wi-s);
    max-height: 300px;
    background-color: var(--background-secondary);
    box-shadow: 2px -1px 5px -2px rgba(0, 0, 0, 0.5);
    animation-name: userareaout;
    animation-duration: 370ms;
}

/* Userpanel mask */
[class*="base-"] [class*="panels-"]:hover > [class*="wrapper-"]::before {
    content:"";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0;
    height: var(--sv-w);
    animation: panel 370ms;
}

@keyframes panel {
    0%, 99% {width: 320px;}
    100% {width: 0px;}
}

/* user area expand animation */
@keyframes userareaout{
    0% {width: 0; background-color: var(--background-tertiary); box-shadow: none }
    50% {width: 0; background-color: var(--background-secondary); box-shadow: none }
    100% {width: var(--wi-s); background-color: var(--background-secondary)}
}

/* SIDEBAR */
/* Throw away sidebar parent */
[class*="base-"] [class*="sidebar-"] {
    margin-left: calc(-1 * var(--wi-s));
    overflow: visible;
}

/* Sidebar's child */
[class*="base-"] [class*="sidebar-"] > [class*="container-"], 
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]{
    left: 0px;
    height: 100%;
    border-radius: 0;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.5);
    transition: left 200ms;
    transition-delay: 150ms;
}

/* Hover to channelname and sidebar */
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]:hover {
    left: var(--wi-s);
}

/* Add mask for sidebar */
[class*="base-"] [class*="sidebar-"] > [class*="container-"]::before,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]::before {
    content: "";
    position: fixed;
    margin-left: var(--wi-s);
    width: var(--wi-s);
    height: var(--tt-h);
    transition-delay: 300ms;
}

[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]::before {
    width: 120px;
}

[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover::before,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]:hover::before {
    animation: poof 300ms;
    height: 0;
}

@keyframes poof {
    0%, 99% {height: 100%;}
    100% {height: 0;}
}


/* COSMETICS */
/* Unread Channel Pill */
[class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    content: ""; 
    position: fixed;
    left: var(--sv-w);
    top: calc(var(--tt-b) + 19.5px);
    width: 4px;
    height: 8px;
    border-radius: 0 4px 4px 0;
    background-color: var(--interactive-active);
    transition: transform 100ms ease-out 350ms;
}

[class*="base-"] [class*="sidebar-"]  [class*="modeUnread-"] [class*="mentionsBadge-"]::after {
    z-index: 60;
    content: ""; 
    position: fixed;
    left: var(--sv-w);
    top: calc(var(--tt-b) + 19.5px);
    width: 5px;
    height: 8px;
    border-radius: 0 4px 4px 0;
    background-color: #ed4245;
    transition: transform 100ms ease-out 350ms;
}

/* Hover to channelname and sidebar to hide pill*/
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover [class*="modeUnread-"]::after,
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover [class*="modeUnread-"] [class*="mentionsBadge-"]::after {
    transform: scale(0);
    transition: transform 150ms;
}

/* pill down when streamer mode is enabled */
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"] [class*="mentionsBadge-"]::after,
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: calc(var(--tt-b) + 56px);
}

/* Darkening Effect When Sidebar Is Open */
[class*="base-"] [class*="sidebar-"] + [class*="chat-"]::after,
[class*="base-"] [class*="sidebar-"] + [class*="container-"]::after {
    content: "";
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background-color 0.4s;
    transition-delay: 0.2s;
}

[class*="base-"] [class*="sidebar-"]:hover + [class*="chat-"]::after,
[class*="base-"] [class*="sidebar-"]:hover + [class*="container-"]::after {
    left: 0px;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.3);
} 


/* BETTERDISCORD MINIMAL */
.bd-minimal {
    --sv-w: 55px;
    --av-s: 35px;
    --wi-s: 200px;
    --tt-h: 40px;
}

.bd-minimal [class*="base-"] section[class*="panels-"] [class*="noWrap-"]{
    display: flex;
    opacity: 100;
    pointer-events: all;
}

.bd-minimal [class*="base-"] [class*="sidebar-"] [class*="modeUnread-"] [class*="mentionsBadge-"]::after,
.bd-minimal [class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: calc(var(--tt-b) + 16px);
}

.bd-minimal [class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"] [class*="mentionsBadge-"]::after,
.bd-minimal [class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: calc(var(--tt-b) + 52px);
}

.bd-minimal [class*="sidebar-"] [class*="actionButtons-"] [class*="lookFilled-"][class*="colorBrand-"] {
    width: 48px;
    font-size: 12px;
    padding: 2px 10px;
}
