/**
 * @name Channel Drawer
 * @author Seilent
 * @version 1.0.0
 * @description Changed the channel into drawer to save horizontal space
 * @source https://github.com/seilent/nightcord-module
*/

/* Server List */
[class*="wrapper-"][class*="guilds-"][aria-label] {
    z-index: 30; 
}

/* Channel List */
[class*="base-"] [class*="sidebar-"] {
    position: fixed;
    z-index: 20;
    top: 22px;
    bottom: 0;
    left: -240px;
    border-radius: 0;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.5);
    transition: left 200ms;
    transition-delay: 150ms;
}

.bd-minimal [class*="base-"] [class*="sidebar-"] {
    left: -200px;
}


/* Hover to channelname and sidebar */
[class*="base-"] [class*="sidebar-"]:hover {
    left: 72px;
}

.bd-minimal [class*="base-"] [class*="sidebar-"]:hover {
    left: 55px;
}


/* Hover to channelname and sidebar to hide pill*/
[class*="base-"] [class*="sidebar-"]:hover [class*="modeUnread-"]::after {
    transform: scale(0);
    transition: transform 100ms;
}

/* Titlebar */
[class*="base-"] [class*="title-"] {
    z-index: 10;
}

/* Add mask for titlebar */
[class*="base-"] [class*="sidebar-"]::before {
    content: "";
    position: fixed;
    left: 72px;
    top: 22px;
    width: 240px;
    height: 48px;
    z-index: 30; 
}

.bd-minimal [class*="base-"] [class*="sidebar-"]::before {
    left: 55px;
    width: 200px;
    height: 40px;
}


/* Unread Channel Pill */
[class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    content: ""; 
    position: fixed;
    border-radius: 0 4px 4px 0;
    top: 41px;
    left: 71px;
    width: 4px;
    height: 8px;
    background-color: var(--interactive-active);
    transition: transform 100ms ease-out 350ms;
}

.bd-minimal [class*="base-"] > [class*="content-"] > [class*="sidebar-"] [class*="containerDefault-"] > [class*="modeUnread-"]::after {
    left: 55px;
    top: 38px;
}