/**
 * @name Channel Drawer
 * @author Seilent
 * @version 1.1.8
 * @description Changed the channel into drawer to save horizontal space
 * @source https://github.com/seilent/nightcord-module
**/

/* 1.1.8
 * Make things a bit more simple
 * Removed /bd-minimal for now
 */

/* z-index */
[class*="wrapper-"][class*="guilds-"][aria-label] {
    z-index: 50; 
    margin-bottom: 72px;
}

[class*="sidebar-"] [aria-controls*="popout_"]{
    z-index: 60;
}

[class*="base-"] [class*="sidebar-"] {
    z-index: 40
}

[class*="base-"] [class*="sidebar-"] [class*="clickable"] {
    z-index: 60;
}

/* Avatar Size */

[class*="base-"] [class*="panels-"] [class*="avatarWrapper-"] {
    position: fixed;
    left: 12px;
    bottom: 12px;    
    width: 48px;
    height: 48px;
}

[class*="base-"] [class*="panels-"] [class*="wrapper-"][style*="32px"] {
    width: 48px !important;
    height: 48px !important;
}

/* User Panel */

[class*="base-"] section[class*="panels-"] {
    position: fixed;
    overflow: hidden;
    width: 0px;
    height: 72px;
    left: 0;
    bottom: 0;
    padding-left: 72px;
    background-color: var(--background-tertiary);
}

[class*="base-"] section[class*="panels-"] > [class*="container-"] {
    height: 73px;
    background-color: var(--background-primary);
    margin-bottom: -1px;
}


/* User Area Hover */
[class*="base-"] section[class*="panels-"]:hover {
    width: 240px;
    height: auto;
    background-color: var(--background-primary);
    box-shadow: 2px -1px 5px -2px rgba(0, 0, 0, 0.5);
    animation: userareaout;
    animation-duration: 600ms;
}

/* Userpanel mask */

[class*="base-"] [class*="panels-"]:hover > [class*="wrapper-"]::before {
    content:"";
    position: fixed;
    width: 320px;
    height: 72px;
    left: 0px;
    bottom: 0;    
}


/* user area expand animation */
@keyframes userareaout{
    0% {width: 0; background-color: var(--background-tertiary); box-shadow: none }
    50% {width: 0; background-color: var(--background-primary); box-shadow: none }
    100% {width: 240px; background-color: var(--background-primary)}
}


/* Header Color */

[class*="sidebar-"] > [class*="container-"] {
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--background-primary),   var(--background-primary)  ), 
                      linear-gradient(var(--background-secondary), var(--background-secondary));
    background-size: 100% 48px, 100%;
}

/* Throw away sidebar parent */

[class*="base-"] [class*="sidebar-"] {
    position: fixed;
}

/* Sidebar's child */
[class*="base-"] [class*="sidebar-"] > [class*="container-"], 
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]{
    position: fixed;
    left: -240px;
    top: 22px;
    bottom: 0;
    border-radius: 0;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.5);
    transition: left 200ms;
    transition-delay: 150ms;
    width: 240px;
}

/* Hover to channelname and sidebar */
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]:hover {
    left: 72px;
}

/* Instantly expand wrapper to allow mouse to hover early to the channels 
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover::after,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]:hover::after {
    content: "";
    position: fixed;
    left: 72px;
    top: 22px;
    width: 240px;
    height: 100%;
}

/* Hover to channelname and sidebar to hide pill*/
[class*="base-"] [class*="sidebar-"] > [class*="container-"]:hover [class*="modeUnread-"]::after {
    transform: scale(0);
    transition: transform 100ms;
}

/* Titlebar */
[class*="base-"] [class*="title-"] {
    z-index: 10;
}

/* Friendlist Titlebar */
[class*="tabBar"] {
    z-index: 60;
}

/* Add mask for titlebar */
[class*="base-"] [class*="sidebar-"] > [class*="container-"]::before,
[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]::before {
    content: "";
    position: fixed;
    left: 72px;
    top: 22px;
    width: 240px;
    height: 48px;
}

[class*="base-"] [class*="sidebar-"] > [class*="privateChannels-"]::before {
    width: 120px;
}

/* Unread Channel Pill */
[class*="base-"] [class*="sidebar-"] [class*="modeUnread-"]::after {
    content: ""; 
    position: fixed;
    left: 72px;
    top: 41px;
    width: 4px;
    height: 8px;
    border-radius: 0 4px 4px 0;
    background-color: var(--interactive-active);
    transition: transform 100ms ease-out 350ms;
}


/* Move the mask, pill, and channel down when streamer mode is enabled */
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] > [class*="container-"],
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] > [class*="container-"]::before,
[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] > [class*="privateChannels-"]::before {
    top: 58px;
}

[class*="notice-"][class*="colorStreamerMode-"] + [class*="content-"] > [class*="sidebar-"] [class*="modeUnread-"]::after {
    top: 78px;
}

/* COSSMETICS */

/* Darkening Effect When Sidebar Is Open */
[class*="base-"] [class*="sidebar-"] + [class*="chat-"]::after,
[class*="base-"] [class*="sidebar-"] + [class*="container-"]::after {
    content: "";
    position: fixed;
    z-index: 10;
    top: 22px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s;
    transition-delay: 0.2s;
}

[class*="base-"] [class*="sidebar-"]:hover + [class*="chat-"]::after,
[class*="base-"] [class*="sidebar-"]:hover + [class*="container-"]::after {
    left: 0px;
    animation-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.3);
} 
